// LLR Colors
$primary: rgb(97, 130, 179);
$secondary: rgb(75, 84, 139);
$accent: rgb(255, 247, 173);

//
$purple: rgb(140 107 198);
$pink: rgb(255 154 204);
$peach: rgb(255 194 162);
$yellow: #fffd95;
$blue: #a5b1ff;
$green: #bffea0;
$white: #ffffff;

// Primary colors to set the mild and friendly vibe inside the app:

$sea-foam-green: #abe5bc;

$light-salmon: #ffa776;

$jasmine: #ffd787;

$tropical-violet: #cfade8;

$light-salmon-pink: #ffa89a;

// Accent colors for text hierarchies:

$dark-liver: #505050;
$eerie-black: #1e1e1e;
$floral-white: #fffaf0;

$background: $white;
