.textInput {
  border-radius: 2px;
  border: 2px solid theme.$eerie-black;
  color: theme.$eerie-black;
  padding: 0.5rem 1rem;
  transition: all 0.25s ease-in-out;

  &:focus {
    box-shadow: 10px 10px 0 -3px theme.$color-primary,
      10px 10px theme.$eerie-black;
    outline: none;
  }
}
.error {
  border-color: theme.$color-accent;
}
