@use 'sass:color';
@use './theme/colors.scss';

// App container
.app {
  min-height: 100vh;
  width: 100%;
  background-color: colors.$white;
  // font-family: theme.$font-primary default;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Header
.header {
  text-align: left;
  margin-bottom: 2rem;
  width: 100%;
  border-bottom: 2px solid colors.$eerie-black;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  // font-family: theme.$font-secondary;
  padding: 0 4rem;
  @media (max-width: 640px) {
    font-size: 2.5rem;
  }
}

// Message alerts
.message {
  max-width: 600px;
  padding: 1rem 1.25rem;
  border-radius: 8px;
  border: 2px solid;
  font-weight: 500;

  &.success {
    background: colors.$sea-foam-green;
    border-color: colors.$dark-liver;
  }

  &.error {
    background: colors.$light-salmon;
    border-color: colors.$dark-liver;
    color: color.adjust(colors.$light-salmon, $lightness: -20%);
  }
}
