.Calendar {
  background-color: transparent;
}

.Calendar .Cal__Day__disabled {
  background-color: #f5f7fa;
}
.Calendar .Cal__Day__selection {
  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}
