.UserList {
  h1 {
    color: #ffffff;
    font-weight: 200;
  }
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-template-rows: repeat(auto, 200px);
    display: grid;
    grid-column-gap: 10px;
    color: #ffffff;
    grid-row-gap: 15px;

    .t-header {
      color: #ffffff;
    }
  }
}
