.Avatar {
  border: 3rem solid rgba(255, 255, 255, 0.8);
  border-radius: 200px;
  height: 5rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Avatar-img {
  border-radius: 200px;
  width: inherit;
  height: inherit;
  position: relative;
}
