.button {
  -webkit-appearance: none;
  align-items: center;
  appearance: none;
  background-color: theme.$primary;
  border-radius: 100px;
  border: none;
  font-weight: 500;
  color: theme.$white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;

  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;

  &:focus {
    outline: 0;
  }
  &:active {
    outline: 0;
  }
  &:disabled {
    cursor: none;
  }
}
