.App {
  text-align: center;
  height: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 50px 80px auto 30px;
  grid-template-areas:
    'header'
    'nav'
    'content'
    'footer';
  grid-template-rows: 50px 100px auto 80px;
}

.App-logo {
  padding: 1rem;
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 4fr;
    grid-template-areas:
      'header  header'
      'nav     nav'
      'content content'
      'footer      footer';
  }
}
