@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600');
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-image: url('./bg.png');
  background-position: center;
  background-size: cover;
  font-family: 'Work Sans', 'Hevletica Neue', sans-serif;
  font-weight: 200;
  font-size: 1rem;
}
#root {
  height: 100%;
}
