.Nav {
  position: absolute;
  top: 0;
  width: 100%; }
  .Nav .main-nav {
    grid-area: nav;
    padding: 1rem 2.5rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center; }
    .Nav .main-nav ul {
      display: flex; }
    .Nav .main-nav li {
      list-style: none; }
      .Nav .main-nav li a {
        color: #ffffff;
        margin: 0.7rem;
        text-decoration: none; }
