.Nav {
  width: 100%;
  position: absolute;
  top: 0;
}

.main-head {
  grid-area: header;
}

.main-nav {
  grid-area: nav;
}

.main-nav {
  padding: 1rem 2.5rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.main-nav ul {
  display: flex;
}
.main-nav li {
  list-style: none;
}
.main-nav li a {
  color: #ffffff;
  margin: 0.7rem;
  text-decoration: none;
}
